nz-icon {
    font-size: 16px;
}

p {
    font-size: 16px;
    margin-top: 3em;
}

 .dots::after {
       content: '';
       animation: dots 1.5s steps(3, end) infinite;
   }

   @keyframes dots {
       0% {
           content: '';
       }

       33% {
           content: '.';
       }

       66% {
           content: '..';
       }

       100% {
           content: '...';
       }
   }