
nz-card {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: auto;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 12px 32px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 12px;
  position: relative;
}

.card-header {
  display: inline-flex;
  margin-bottom: 4px;
  
}

.sentence {
  font-size: 19px;
  font-weight: 500;
  width: 30em;
}

.check-button {
  right: 0;
  position: absolute;
  padding-right: 2em;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.meaning {
  padding-top: 1em;
  font-size: 15px;
  font-style: italic;
}

nz-input-wrapper {
  margin-top: 1.5em;
  border-radius: 12px;
}


.card-footer {
  /* stick footer to bottom-right */
  padding-top: 2em;
    display: inline-flex;

}

.hint {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 1em 1em;
}

.speak {
  position: absolute;
  bottom: 0;
  left: 8em;
  padding: 0 0 1em 1em;
}

nz-icon {
  font-size: 16px;
}

