.form-container {
    margin-left: 1em;
}

.select-left {
  padding-right: .5em;
}

.select-right {
  padding-left: .5em;
}

span {
    text-align: center;
    line-height: 18px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 10px;
}

.definitions-input {
    margin-bottom: 1em;
}

.add-def-btn {
    margin-top: 1em;
    width: 100%;
}

.submit-btn {
     margin-top: 1em;
    width: 100%;
}


.definitions-element-delete {
    float: right;
}

.editable-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
    cursor: pointer
}

.definitions-container {
    margin-top: 2em;
}

.definitions-element {
    padding-left: .5em;
    padding-bottom: .5em;
}

.alert {
    padding-top: 1em;
}