.table-ctn {
    border-radius: 8px;
    padding: 10px;
}

.btn {
    padding-right: 1em;
}

.statistical {
    margin-right: 1em;
    margin-top: 4px;
    font-size: 15px;
    float: right;
}

.table-header {
    margin-bottom: -10px;
}

.pagin-ctn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

nz-input-group {
    width: 300px;
    border-radius: 6px;

}

button {
    background-color: rgb(35, 131, 226);
    border-radius: 6px
}

.action {
    text-align: center;
    font-size: 15px;
}

.bold {
    font-size: 14px;
    font-style: bold;
}

.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
}

nz-select {
    width: 100%;
}

/* .editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
} */